In [3]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import pandas as pd

In [4]:
url = "https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1210001101&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=1997&cubeTimeFrame.endMonth=07&cubeTimeFrame.endYear=2023&referencePeriods=19970101%2C20230701"

In [5]:
PATH = '/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
driver = webdriver.Chrome(service=Service(executable_path=PATH))
driver.get(url)    
driver.implicitly_wait(5)
page_source = driver.page_source
driver.close()
driver.quit()

Incompatible release of chromedriver (version 115.0.5790.102) detected in PATH: /opt/homebrew/bin/chromedriver

# Reset Dataframe

In [232]:
tables = pd.read_html(page_source)
df = tables[0]
df.head()

            Geography                                   Canada (map)  \
                Basis                            Balance of payments
  Seasonal adjustment                            Seasonally adjusted
                Trade Principal trading partners        January 1997
0                 NaN                        NaN                 NaN
1              Import                        NaN             Dollars
2              Import              All countries             21837.7
3              Import              United States             16452.4
4              Import            European Union5              1972.6

                                                                    \


  February 1997 March 1997 April 1997 May 1997 June 1997 July 1997
0           NaN        NaN        NaN      NaN       NaN       NaN
1       Dollars    Dollars    Dollars  Dollars   Dollars   Dollars
2       21755.0    21839.5    22620.9  22747.5   22882.5   23467.3
3       16603.8    16716.3    17029.6  17057.4   17617.3   17967.1
4        1726.8     1920.4     2159.8   2327.1    1944.3    1999.5

               ...                                                          \
               ...
               ...
  August 1997  ... September 2022 October 2022 November 2022 December 2022
0         NaN  ...            NaN          NaN           NaN           NaN
1     Dollars  ...        Dollars      Dollars       Dollars       Dollars
2     23592.4  ...        65386.4      65590.7       63981.9       63004.2
3     17997.7  ...        40763.1      40790.8       40301.2       40196.5
4      1896.5  ...         6227.4       6350.8        5505.9        5737.9




  January 2023 February 2023 March 2023 April 2023 May 2023 June 2023
0          NaN           NaN        NaN        NaN      NaN       NaN
1      Dollars       Dollars    Dollars    Dollars  Dollars   Dollars
2      65124.0       64481.8    63084.6    62875.0  64733.5   64427.9
3      41089.3       40052.0    40155.0    39926.6  40283.1   40010.4
4       6387.2        6983.2     5622.6     6381.1   6117.2    6399.0

[5 rows x 320 columns]

# Remove Higher Column Headers

In [233]:
for i in range(3):
    df.columns = df.columns.droplevel(0)
df.head()

,Trade,Principal trading partners,January 1997,February 1997,March 1997,April 1997,May 1997,June 1997,July 1997,August 1997,...,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Import,NaN,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,...,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars
2,Import,All countries,21837.7,21755.0,21839.5,22620.9,22747.5,22882.5,23467.3,23592.4,...,65386.4,65590.7,63981.9,63004.2,65124.0,64481.8,63084.6,62875.0,64733.5,64427.9
3,Import,United States,16452.4,16603.8,16716.3,17029.6,17057.4,17617.3,17967.1,17997.7,...,40763.1,40790.8,40301.2,40196.5,41089.3,40052.0,40155.0,39926.6,40283.1,40010.4
4,Import,European Union5,1972.6,1726.8,1920.4,2159.8,2327.1,1944.3,1999.5,1896.5,...,6227.4,6350.8,5505.9,5737.9,6387.2,6983.2,5622.6,6381.1,6117.2,6399.0

# Remove N/A values and 'Dollar' Rows

In [234]:
df = df.drop(index=[0,1])
df.reset_index(drop = True,inplace=True)
df.head()

,Trade,Principal trading partners,January 1997,February 1997,March 1997,April 1997,May 1997,June 1997,July 1997,August 1997,...,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023
0,Import,All countries,21837.7,21755.0,21839.5,22620.9,22747.5,22882.5,23467.3,23592.4,...,65386.4,65590.7,63981.9,63004.2,65124.0,64481.8,63084.6,62875.0,64733.5,64427.9
1,Import,United States,16452.4,16603.8,16716.3,17029.6,17057.4,17617.3,17967.1,17997.7,...,40763.1,40790.8,40301.2,40196.5,41089.3,40052.0,40155.0,39926.6,40283.1,40010.4
2,Import,European Union5,1972.6,1726.8,1920.4,2159.8,2327.1,1944.3,1999.5,1896.5,...,6227.4,6350.8,5505.9,5737.9,6387.2,6983.2,5622.6,6381.1,6117.2,6399.0
3,Import,China,174.3,169.6,143.0,164.8,173.3,184.6,196.8,218.4,...,6135.4,5749.4,5316.1,5278.7,5219.3,5338.9,5400.5,4930.0,5134.6,5310.8
4,Import,United Kingdom,529.4,461.5,497.1,574.3,478.8,520.5,478.5,440.1,...,751.2,749.2,682.2,913.3,1046.4,843.9,774.4,666.2,1208.4,1321.1

# Data Model

In [235]:
data = {
    'date': 'Jan 1997',
    'country': 'United States',
    'trade_type': 'Import',
    'value': 1234.5
    }

# Remove NaN value in Trade Column

In [236]:
df.Trade.unique()

array(['Import', 'Export', 'Trade Balance', nan], dtype=object)

In [237]:
df[df['Trade'].isnull()]

,Trade,Principal trading partners,January 1997,February 1997,March 1997,April 1997,May 1997,June 1997,July 1997,August 1997,...,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
index = df.loc[df.Trade.isnull()].index[0]
df = df.drop(index= index)
df.reset_index(drop=True,inplace = True)
df.Trade.unique()

array(['Import', 'Export', 'Trade Balance'], dtype=object)

In [239]:
df.columns

Index(['Trade', 'Principal trading partners', 'January 1997', 'February 1997',
       'March 1997', 'April 1997', 'May 1997', 'June 1997', 'July 1997',
       'August 1997',
       ...
       'September 2022', 'October 2022', 'November 2022', 'December 2022',
       'January 2023', 'February 2023', 'March 2023', 'April 2023', 'May 2023',
       'June 2023'],
      dtype='object', length=320)

In [240]:
len(df)

18

In [241]:
df

,Trade,Principal trading partners,January 1997,February 1997,March 1997,April 1997,May 1997,June 1997,July 1997,August 1997,...,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023
0,Import,All countries,21837.7,21755.0,21839.5,22620.9,22747.5,22882.5,23467.3,23592.4,...,65386.4,65590.7,63981.9,63004.2,65124.0,64481.8,63084.6,62875.0,64733.5,64427.9
1,Import,United States,16452.4,16603.8,16716.3,17029.6,17057.4,17617.3,17967.1,17997.7,...,40763.1,40790.8,40301.2,40196.5,41089.3,40052.0,40155.0,39926.6,40283.1,40010.4
2,Import,European Union5,1972.6,1726.8,1920.4,2159.8,2327.1,1944.3,1999.5,1896.5,...,6227.4,6350.8,5505.9,5737.9,6387.2,6983.2,5622.6,6381.1,6117.2,6399.0
3,Import,China,174.3,169.6,143.0,164.8,173.3,184.6,196.8,218.4,...,6135.4,5749.4,5316.1,5278.7,5219.3,5338.9,5400.5,4930.0,5134.6,5310.8
4,Import,United Kingdom,529.4,461.5,497.1,574.3,478.8,520.5,478.5,440.1,...,751.2,749.2,682.2,913.3,1046.4,843.9,774.4,666.2,1208.4,1321.1
5,Import,Mexico,320.4,354.7,298.8,341.6,318.0,341.4,398.8,344.8,...,2261.4,2100.7,2189.0,1877.4,2372.8,2245.8,2269.0,2251.3,2397.1,2220.3
6,Export,All countries,24928.5,24695.9,24535.9,24791.8,24888.8,24621.2,25470.7,25100.8,...,66201.9,66325.1,64111.6,64218.1,66512.0,63975.4,63052.8,63943.7,62053.4,60696.0
7,Export,United States,19871.6,19717.4,19307.5,19576.6,19898.2,19640.1,20348.9,20004.0,...,50040.2,49790.8,47858.9,48477.6,49887.7,48477.4,47386.5,48845.9,48011.5,47432.2
8,Export,European Union5,1403.3,1397.1,1426.8,1517.6,1476.7,1545.8,1571.3,1455.2,...,3195.4,3246.4,3224.5,3241.6,3025.6,2760.4,2878.7,3004.6,2948.8,2928.1
9,Export,China,283.5,189.2,267.1,236.2,176.3,179.5,210.5,250.0,...,2732.7,3420.7,3087.8,2518.2,2964.7,3071.7,2829.6,2445.4,2625.9,1900.3
10,Export,United Kingdom,390.7,382.1,393.1,443.9,398.2,397.7,377.1,346.1,...,1684.6,1134.0,1712.0,1273.7,1721.6,1171.7,1556.0,1018.6,814.1,943.6
11,Export,Mexico,128.5,132.0,194.2,134.4,193.4,145.6,150.2,180.3,...,840.0,845.9,852.1,985.6,773.5,859.0,797.9,736.1,899.8,778.2
12,Trade Balance,All countries,3090.8,2940.9,2696.4,2171.0,2141.3,1738.7,2003.4,1508.4,...,815.5,734.4,129.7,1213.9,1388.1,-506.4,-31.8,1068.6,-2680.1,-3731.9
13,Trade Balance,United States,3419.2,3113.7,2591.1,2547.0,2840.8,2022.8,2381.8,2006.2,...,9277.0,9000.0,7557.7,8281.1,8798.4,8425.4,7231.5,8919.3,7728.3,7421.8
14,Trade Balance,European Union5,-569.3,-329.7,-493.6,-642.2,-850.5,-398.5,-428.2,-441.3,...,-3032.0,-3104.4,-2281.4,-2496.3,-3361.6,-4222.8,-2743.9,-3376.4,-3168.4,-3470.9
15,Trade Balance,China,109.2,19.6,124.2,71.4,3.0,-5.1,13.7,31.6,...,-3402.8,-2328.7,-2228.3,-2760.5,-2254.7,-2267.2,-2571.0,-2484.5,-2508.7,-3410.5
16,Trade Balance,United Kingdom,-138.7,-79.3,-104.0,-130.4,-80.6,-122.8,-101.4,-93.9,...,933.5,384.8,1029.9,360.5,675.2,327.8,781.6,352.3,-394.2,-377.6
17,Trade Balance,Mexico,-191.9,-222.7,-104.6,-207.1,-124.6,-195.8,-248.6,-164.5,...,-1421.4,-1254.7,-1336.9,-891.8,-1599.3,-1386.8,-1471.1,-1515.2,-1497.2,-1442.1

# Replaced 'Principal trading partners' column name

In [242]:
df.columns = ['Trading_Partner' if c == 'Principal trading partners' else c  for c in df.columns]

In [243]:
df.columns

Index(['Trade', 'Trading_Partner', 'January 1997', 'February 1997',
       'March 1997', 'April 1997', 'May 1997', 'June 1997', 'July 1997',
       'August 1997',
       ...
       'September 2022', 'October 2022', 'November 2022', 'December 2022',
       'January 2023', 'February 2023', 'March 2023', 'April 2023', 'May 2023',
       'June 2023'],
      dtype='object', length=320)

In [244]:
for index in range(len(df)):
    for month in list(df.columns)[2:]:
        df.at[index, month] = float(df.at[index, month])

In [245]:
df.Trading_Partner.unique()

array(['All countries', 'United States', 'European Union5', 'China',
       'United Kingdom', 'Mexico'], dtype=object)

In [246]:
countries_list = ['United States', 'European Union5', 'China',
       'United Kingdom', 'Mexico']
df.loc[(df.Trading_Partner == 'All countries') & (df.Trade == 'Import')].values[0][2:]
val =df.loc[(df.Trading_Partner.isin(countries_list)) & (df.Trade == 'Import')].sum()[2:]
val

January 1997     19449.1
February 1997    19316.4
March 1997       19575.6
April 1997       20270.1
May 1997         20354.6
                  ...
February 2023    55463.8
March 2023       54221.5
April 2023       54155.2
May 2023         55140.4
June 2023        55261.6
Length: 318, dtype: object

In [247]:
countries_list = ['United States', 'European Union5', 'China',
       'United Kingdom', 'Mexico']
for trade_type in list(df.Trade.unique()):
    
    sum_all = df.loc[(df.Trading_Partner == 'All countries') & (df.Trade == str(trade_type))].values[0][2:]
    sum_others = df.loc[(df.Trading_Partner.isin(countries_list)) & (df.Trade == trade_type)].sum()[2:]
    
    sum_all_float = [float(val) for val in sum_all]
    sum_others_float = [float(val) for val in sum_others]
    difference = list(map(lambda x, y : x-y, sum_all_float, sum_others_float))
    new_row = [trade_type, "Others"] +  difference
    df.loc[len(df)] = new_row

In [250]:
df

,Trade,Trading_Partner,January 1997,February 1997,March 1997,April 1997,May 1997,June 1997,July 1997,August 1997,...,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023
0,Import,All countries,21837.7,21755.0,21839.5,22620.9,22747.5,22882.5,23467.3,23592.4,...,65386.4,65590.7,63981.9,63004.2,65124.0,64481.8,63084.6,62875.0,64733.5,64427.9
1,Import,United States,16452.4,16603.8,16716.3,17029.6,17057.4,17617.3,17967.1,17997.7,...,40763.1,40790.8,40301.2,40196.5,41089.3,40052.0,40155.0,39926.6,40283.1,40010.4
2,Import,European Union5,1972.6,1726.8,1920.4,2159.8,2327.1,1944.3,1999.5,1896.5,...,6227.4,6350.8,5505.9,5737.9,6387.2,6983.2,5622.6,6381.1,6117.2,6399.0
3,Import,China,174.3,169.6,143.0,164.8,173.3,184.6,196.8,218.4,...,6135.4,5749.4,5316.1,5278.7,5219.3,5338.9,5400.5,4930.0,5134.6,5310.8
4,Import,United Kingdom,529.4,461.5,497.1,574.3,478.8,520.5,478.5,440.1,...,751.2,749.2,682.2,913.3,1046.4,843.9,774.4,666.2,1208.4,1321.1
5,Import,Mexico,320.4,354.7,298.8,341.6,318.0,341.4,398.8,344.8,...,2261.4,2100.7,2189.0,1877.4,2372.8,2245.8,2269.0,2251.3,2397.1,2220.3
6,Export,All countries,24928.5,24695.9,24535.9,24791.8,24888.8,24621.2,25470.7,25100.8,...,66201.9,66325.1,64111.6,64218.1,66512.0,63975.4,63052.8,63943.7,62053.4,60696.0
7,Export,United States,19871.6,19717.4,19307.5,19576.6,19898.2,19640.1,20348.9,20004.0,...,50040.2,49790.8,47858.9,48477.6,49887.7,48477.4,47386.5,48845.9,48011.5,47432.2
8,Export,European Union5,1403.3,1397.1,1426.8,1517.6,1476.7,1545.8,1571.3,1455.2,...,3195.4,3246.4,3224.5,3241.6,3025.6,2760.4,2878.7,3004.6,2948.8,2928.1
9,Export,China,283.5,189.2,267.1,236.2,176.3,179.5,210.5,250.0,...,2732.7,3420.7,3087.8,2518.2,2964.7,3071.7,2829.6,2445.4,2625.9,1900.3
10,Export,United Kingdom,390.7,382.1,393.1,443.9,398.2,397.7,377.1,346.1,...,1684.6,1134.0,1712.0,1273.7,1721.6,1171.7,1556.0,1018.6,814.1,943.6
11,Export,Mexico,128.5,132.0,194.2,134.4,193.4,145.6,150.2,180.3,...,840.0,845.9,852.1,985.6,773.5,859.0,797.9,736.1,899.8,778.2
12,Trade Balance,All countries,3090.8,2940.9,2696.4,2171.0,2141.3,1738.7,2003.4,1508.4,...,815.5,734.4,129.7,1213.9,1388.1,-506.4,-31.8,1068.6,-2680.1,-3731.9
13,Trade Balance,United States,3419.2,3113.7,2591.1,2547.0,2840.8,2022.8,2381.8,2006.2,...,9277.0,9000.0,7557.7,8281.1,8798.4,8425.4,7231.5,8919.3,7728.3,7421.8
14,Trade Balance,European Union5,-569.3,-329.7,-493.6,-642.2,-850.5,-398.5,-428.2,-441.3,...,-3032.0,-3104.4,-2281.4,-2496.3,-3361.6,-4222.8,-2743.9,-3376.4,-3168.4,-3470.9
15,Trade Balance,China,109.2,19.6,124.2,71.4,3.0,-5.1,13.7,31.6,...,-3402.8,-2328.7,-2228.3,-2760.5,-2254.7,-2267.2,-2571.0,-2484.5,-2508.7,-3410.5
16,Trade Balance,United Kingdom,-138.7,-79.3,-104.0,-130.4,-80.6,-122.8,-101.4,-93.9,...,933.5,384.8,1029.9,360.5,675.2,327.8,781.6,352.3,-394.2,-377.6
17,Trade Balance,Mexico,-191.9,-222.7,-104.6,-207.1,-124.6,-195.8,-248.6,-164.5,...,-1421.4,-1254.7,-1336.9,-891.8,-1599.3,-1386.8,-1471.1,-1515.2,-1497.2,-1442.1
18,Import,Others,2388.6,2438.6,2263.9,2350.8,2392.9,2274.4,2426.6,2694.9,...,9247.9,9849.8,9987.5,9000.4,9009.0,9018.0,8863.1,8719.8,9593.1,9166.3
19,Export,Others,2850.9,2878.1,2947.2,2883.1,2746.0,2712.5,2812.7,2865.2,...,7709.0,7887.3,7376.3,7721.4,8138.9,7635.2,7604.1,7893.1,6753.3,6713.6
20,Trade Balance,Others,462.3,439.3,683.3,532.3,353.2,438.1,386.1,170.3,...,-1538.8,-1962.6,-2611.3,-1279.1,-869.9,-1382.8,-1258.9,-826.9,-2839.9,-2452.6

In [251]:
from datetime import datetime
data = {'data' : []}
for index,row in df.iterrows():
    for date  in df.columns[2:]:
        data['data'].append({
            'date': datetime.strptime(date, '%B %Y'),
            'trade_type': row.Trade,
            'trading_partner': row.Trading_Partner,
            'value': float(row[date])
        })
data['data'][0]

{'date': datetime.datetime(1997, 1, 1, 0, 0),
 'trade_type': 'Import',
 'trading_partner': 'All countries',
 'value': 21837.7}

In [261]:
len(data['data'])
data['data'][:10]

[{'date': datetime.datetime(1997, 1, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 21837.7,
  '_id': ObjectId('64d3b902d9f5e02d15447cc2')},
 {'date': datetime.datetime(1997, 2, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 21755.0,
  '_id': ObjectId('64d3b902d9f5e02d15447cc3')},
 {'date': datetime.datetime(1997, 3, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 21839.5,
  '_id': ObjectId('64d3b902d9f5e02d15447cc4')},
 {'date': datetime.datetime(1997, 4, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 22620.9,
  '_id': ObjectId('64d3b902d9f5e02d15447cc5')},
 {'date': datetime.datetime(1997, 5, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 22747.5,
  '_id': ObjectId('64d3b902d9f5e02d15447cc6')},
 {'date': datetime.datetime(1997, 6, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 22882.5,
  '_id': ObjectId('64d3b902d9f5e02d15447cc7')},
 {'date': datetime.datetime(1997, 7, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 23467.3,
  '_id': ObjectId('64d3b902d9f5e02d15447cc8')},
 {'date': datetime.datetime(1997, 8, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 23592.4,
  '_id': ObjectId('64d3b902d9f5e02d15447cc9')},
 {'date': datetime.datetime(1997, 9, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 23774.2,
  '_id': ObjectId('64d3b902d9f5e02d15447cca')},
 {'date': datetime.datetime(1997, 10, 1, 0, 0),
  'trade_type': 'Import',
  'trading_partner': 'All countries',
  'value': 24050.8,
  '_id': ObjectId('64d3b902d9f5e02d15447ccb')}]

In [253]:
import json

In [254]:
#with open('data.json','w') as file:
    #json.dump(data,file)

In [256]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://kamal:kamal@cluster0.ckharmj.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [257]:
db = client["BDAT1004"]
collection = db["Group_7"]


print("Keys in the data:", data.keys())
print("First item:", data[list(data.keys())[0]][0])

Keys in the data: dict_keys(['data'])
First item: {'date': datetime.datetime(1997, 1, 1, 0, 0), 'trade_type': 'Import', 'trading_partner': 'All countries', 'value': 21837.7}

# Insert Data into MongoDB Database

In [258]:
content = data['data']
collection.insert_many(content) #uncomment this for inserting data for first time